body{
    background-color: red;
}

/* @media(width<=400px){
    body{
        background-color: green;
    }
} */




/* @media(orientation:portrait){
    body{
        background-color: green;
    }
} */


/* @media(width<=200px){
    body{
        background-color: goldenrod;
    }
} */

/* @media(max-width:300px){
    body{
        background-color: gold;
    }
} */


/* @media(min-width:400px) and (max-width:600px){
    body{
        background-color: green;
    }
} */



@media(400px <= width <=600px){
    body{
        background-color: green;
    }
}