body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 40px;
}

/* .primary-button{
    text-decoration: none;
    background-color: rgb(37, 185, 178);
    color: white;
    padding: 10px;
    border-radius: 10px;  
} */

.primary-button:link{
    background-color: rgb(202, 40, 184);
} 

.primary-button:visited{
    color: wheat;
    background-color: red;
}

  
.primary-button:hover{
    background-color: blue;
}



.primary-button:active{
    background-color: yellow;
}



ul li:first-child{
    list-style: none;
    background-color: lightskyblue;
    display: inline-block;
}

ul li:last-child{
    list-style: none;
    background-color: rgb(63, 115, 148);
    display: inline-block;
}

/* nth child */
/* an+b */

/* ul li:nth-child(4){
    background-color: lightgreen;
    display: inline-block;
    list-style: none;
} */


ul li:nth-child(2n){
    background-color: lightgreen;
    /* display: inline-block; */
    list-style: none;
}

h1::first-letter{
    background-color: lightsalmon;
    font-size: 3rem;
}

p::first-line{
    background-color: lightslategrey;
}

p::first-letter{
    font-size: 3rem;
    background-color: lightsalmon;
}

::selection{
    background-color: lightpink;
    color: rgb(40, 129, 202);
}



/* Before and After */

h3::before{
    content: 'any';
}

h3::after{
    content: '*';
    color: red;
}